table, th, td {
    border:1px solid black;
  }
.PlayerStats{
    margin-left: auto;
    margin-right:auto; 
    width: 80%;
}

.GameStats{
    margin-left: auto;
    margin-right:auto; 
    width: 90%;
    visibility: hidden;
}
